{
  "openapi": "3.0.0",
  "info": {
    "title": "Delilah Resto",
    "version": "1.2.1",
    "description": "Delilah Resto API se compone de endpoints preparados para una aplicación de pedidos, donde le permitiría a los usuarios registrarse, hacer su pedido de acuerdo a productos existentes, y enviarlo. También se brindarán endpoints para administradores, que podran ver los pedidos, actualizarlos, así como actualizar los productos, agregar nuevos, o eliminarlos",
    "contact": {
      "name": "Ezequiel G. Holzweissig",
      "url": "https://ezeholz.github.io",
      "email": "hello@ezeholz.com.ar"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.acamica.ezeholz.com.ar/",
      "description": "Testing IP"
    },
    {
      "url": "https://delilah-resto-ezeholz.herokuapp.com/",
      "description": "Testing IP - Heroku (Deprecated)"
    },
    {
      "url": "http://localhost:8000",
      "description": "Computadora Local"
    }
  ],
  "tags": [
    {
      "name": "Pedidos",
      "description": "Endpoint de pedidos"
    },
    {
      "name": "Productos",
      "description": "Endpoint de productos"
    },
    {
      "name": "Usuarios",
      "description": "Endpoint de acceso"
    }
  ],
  "paths": {
    "/pedidos": {
      "get": {
        "tags": [
          "Pedidos"
        ],
        "summary": "Obtener todos los pedidos",
        "security": [
          {
            "Auth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/arrayPedido"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "tags": [
          "Pedidos"
        ],
        "summary": "Crear un pedido nuevo",
        "requestBody": {
          "$ref": "#/components/requestBodies/Nota"
        },
        "security": [
          {
            "Auth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/pedidos/{id}": {
      "get": {
        "tags": [
          "Pedidos"
        ],
        "summary": "Obtener pedido por ID",
        "security": [
          {
            "Auth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del pedido",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Pedido"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "tags": [
          "Pedidos"
        ],
        "summary": "Modificar un Pedido",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del pedido",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "Auth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/modPedidos"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Pedido"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/productos": {
      "get": {
        "tags": [
          "Productos"
        ],
        "summary": "Listar todos los productos",
        "security": [
          {
            "Auth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/arrayProducto"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "tags": [
          "Productos"
        ],
        "summary": "Generar un producto nuevo",
        "requestBody": {
          "$ref": "#/components/requestBodies/Producto"
        },
        "security": [
          {
            "Auth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/productos/{id}": {
      "get": {
        "tags": [
          "Productos"
        ],
        "summary": "Obtener un producto por ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del producto",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "Auth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Producto"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "tags": [
          "Productos"
        ],
        "summary": "Modificar un producto",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del producto",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "Auth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Producto"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Producto"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "tags": [
          "Productos"
        ],
        "summary": "Borrar producto",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del producto",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "Auth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/usuarios": {
      "post": {
        "tags": [
          "Usuarios"
        ],
        "summary": "Crear un usuario",
        "requestBody": {
          "$ref": "#/components/requestBodies/Usuario"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/usuarios/login": {
      "get": {
        "tags": [
          "Usuarios"
        ],
        "summary": "Loguear al usuario",
        "parameters": [
          {
            "name": "username",
            "in": "header",
            "description": "Usuario",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "header",
            "description": "Contraseña",
            "required": true,
            "schema": {
              "type": "string",
              "format": "password"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/token"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/usuarios/logout": {
      "get": {
        "tags": [
          "Usuarios"
        ],
        "summary": "Desloguear al usuario",
        "security": [
          {
            "Auth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "200": {
        "description": "```\nOK\n```\n"
      },
      "400": {
        "description": "```\nBad Request\n```\n"
      },
      "401": {
        "description": "```\nUnauthorized\n```\n"
      },
      "403": {
        "description": "```\nForbidden\n```\n"
      },
      "404": {
        "description": "```\nNot Found\n```\n"
      },
      "418": {
        "description": "```\nI'm a teapot\n```\n"
      },
      "Producto": {
        "description": "```\n{\n  \"nombre\": \"string\",\n  \"short\": \"string\",\n  \"img\": \"string\",\n  \"precio\": 0\n}\n```\n"
      },
      "arrayProducto": {
        "description": "```\n[\n  {\n    \"nombre\": \"string\",\n    \"short\": \"string\",\n    \"img\": \"string\",\n    \"precio\": 0\n  }, {...}\n]\n```\n"
      },
      "Pedido2": {
        "description": "```\n{\n  \"Cliente\": {\n    \"nombre\": \"string\",\n    \"direccion\": \"string\",\n    \"telefono\": 0\n  },\n  \"Productos\": [\n    {\n      \"Cantidad\": 0,\n      \"Producto\": {\n        \"nombre\": \"string\",\n        \"short\": \"string\",\n        \"img\": \"string\",\n        \"precio\": 0\n      }, {...}\n    }\n  ],\n  \"Hora\": \"16:42\",\n  \"Status\": 0,\n  \"Efectivo\": true\n}\n```\n"
      },
      "Pedido": {
        "description": "```\n{\n  \"status\": 0,\n  \"hora\": \"16:42\",\n  \"prod\": \"3,4,6,1,0,2\",\n  \"usuario\": 0,\n  \"pago\": true\n}\n```\n"
      },
      "arrayPedido2": {
        "description": "```\n[\n  {\n    \"Cliente\": {\n      \"nombre\": \"string\",\n      \"direccion\": \"string\",\n      \"telefono\": 0\n    },\n    \"Productos\": [\n      {\n        \"Cantidad\": 0,\n        \"Producto\": {\n          \"nombre\": \"string\",\n          \"short\": \"string\",\n          \"img\": \"string\",\n          \"precio\": 0\n        }\n      }, {...}\n    ],\n    \"Hora\": \"16:42\",\n    \"Status\": 0,\n    \"Efectivo\": true\n  }, {...}\n]\n```\n"
      },
      "arrayPedido": {
        "description": "```\n[\n  {\n    \"status\": 0,\n    \"hora\": \"16:42\",\n    \"prod\": \"3,4,6,1,0,2\",\n    \"usuario\": 0,\n    \"pago\": true\n  }, {...}\n]\n```\n"
      },
      "token": {
        "description": "",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImV4YW1wbGUiLCJpYXQiOjE1ODY2NzczMzl9.Vtb7iWp3qBASmGb_vTY-TqzXKKEYin9g2Qt4U_EA0Uc"
            }
          },
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "api_key": {
                  "type": "string",
                  "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImV4YW1wbGUiLCJpYXQiOjE1ODY2NzczMzl9.Vtb7iWp3qBASmGb_vTY-TqzXKKEYin9g2Qt4U_EA0Uc"
                }
              }
            }
          }
        }
      }
    },
    "requestBodies": {
      "Producto": {
        "description": "",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Producto"
            }
          }
        }
      },
      "Usuario": {
        "description": "",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Usuario"
            }
          }
        }
      },
      "Nota": {
        "description": "",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "Productos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Producto"
                  }
                },
                "Efectivo": {
                  "type": "boolean",
                  "description": "Paga en efectivo"
                }
              }
            }
          }
        }
      },
      "basePedidos": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "prod": {
                  "type": "string",
                  "description": "ID's de los productos pedidos",
                  "example": "3,4,6,1,0,2"
                },
                "pago": {
                  "type": "boolean",
                  "description": "Paga en efectivo"
                }
              }
            }
          }
        }
      },
      "modPedidos": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer"
                },
                "hora": {
                  "type": "string",
                  "example": "16:42"
                },
                "prod": {
                  "type": "string",
                  "description": "ID's de los productos pedidos",
                  "example": "3,4,6,1,0,2"
                },
                "usuario": {
                  "type": "integer"
                },
                "pago": {
                  "type": "boolean",
                  "description": "Paga en efectivo"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Cliente": {
        "type": "object",
        "properties": {
          "nombre": {
            "type": "string"
          },
          "direccion": {
            "type": "string"
          },
          "telefono": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Producto": {
        "type": "object",
        "properties": {
          "nombre": {
            "type": "string"
          },
          "short": {
            "type": "string"
          },
          "img": {
            "type": "string"
          },
          "precio": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Pedidos": {
        "type": "object",
        "properties": {
          "Cliente": {
            "$ref": "#/components/schemas/Cliente"
          },
          "Productos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Cantidad": {
                  "type": "integer",
                  "format": "int32"
                },
                "Producto": {
                  "$ref": "#/components/schemas/Producto"
                }
              }
            }
          },
          "Hora": {
            "type": "string",
            "example": "16:42"
          },
          "Status": {
            "type": "integer",
            "format": "int32"
          },
          "Efectivo": {
            "type": "boolean"
          }
        }
      },
      "Usuario": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "nombre": {
            "type": "string"
          },
          "correo": {
            "type": "string"
          },
          "telefono": {
            "type": "integer",
            "format": "int64"
          },
          "dir": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "Auth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
