* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body, button {
  font-family: 'Chakra Petch', sans-serif;
}

button {
  height: 3.6rem;
  width: 14.4rem;
}

p {
  font-size: 14px;
  color: white;
  line-height: 16px;
}

.claro a {
  color: black;
  text-decoration: none;
}

.claro button.claro {
  border: 1px solid black;
  background: #997D97;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.claro button.claro.verMas {
  background: #4180F6;
}

.claro button.claro.cancelar {
  background: #FFF4FD;
}

.claro button.claro.comenzar, .claro button.claro.subir {
  background: #F7C9F3;
}

.claro.barraSuperior, .claro.buscar p.claro, .claro > ul.sugerencias li > p, .claro > ul#tendencias li > p, .claro > ul#buscadas li > p,
.claro.crear > p.claro, .claro.captura > p.claro {
  background: -webkit-gradient(linear, left top, right top, from(#4180F6), to(#F7C9F3));
  background: linear-gradient(90deg, #4180F6 0%, #F7C9F3 100%);
  font-weight: bold;
}

.claro.buscar, .claro.crear, .claro.captura {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.claro.buscar.autofill > button, .claro.crear.autofill > button, .claro.captura.autofill > button {
  background: #E6E6E6;
}

.claro.buscar.autofill.ultimas > button, .claro.crear.autofill.ultimas > button, .claro.captura.autofill.ultimas > button {
  background: #4180F6;
}

body.oscuro {
  background: #110038;
}

.oscuro a, .oscuro li > button.oscuro {
  color: white;
  text-decoration: none;
}

.oscuro button.claro {
  border: 1px solid white;
  background: #997D97;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.oscuro button.claro.cancelar {
  background: #FFF4FD;
}

.oscuro button.claro.comenzar, .oscuro button.claro.subir {
  background: #F7C9F3;
}

.oscuro.barraSuperior, .oscuro.buscar p.claro, .oscuro > ul.sugerencias li > p, .oscuro > ul#tendencias li > p, .oscuro > ul#buscadas li > p,
.oscuro.crear > p.claro, .oscuro.captura > p.claro {
  background: -webkit-gradient(linear, left top, right top, from(#2E32FB), to(#EE3EFE));
  background: linear-gradient(90deg, #2E32FB 0%, #EE3EFE 100%);
}

.oscuro.buscar, .oscuro.crear, .oscuro.captura {
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.oscuro.buscar.autofill > button, .oscuro.crear.autofill > button, .oscuro.captura.autofill > button {
  background: #B4B4B4;
}

.barraSuperior {
  display: block;
  position: relative;
  height: 23px;
}

.barraSuperior p {
  font-size: 12px;
  line-height: 20px;
}

nav {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .flecha {
  padding: 10px;
}

nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

nav ul li {
  padding: 0 1rem;
}

nav ul button.tema {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

nav ul button.tema div:first-child {
  width: 10.8rem;
  border-right: 1px solid gray;
}

nav ul button.tema div:last-child {
  width: 3.6rem;
  border-left: 1px solid gray;
}

nav ul li:last-child {
  line-height: 3.5rem;
}

.relativo {
  position: relative;
}

.buscar {
  width: 90%;
  margin: auto;
}

.buscar .barraBuscar {
  margin: auto;
  margin: 1.2rem;
  padding-bottom: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buscar .barraBuscar input {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  margin: 0 0.8rem;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  padding: 1.3rem 1.6rem;
}

.buscar .barraBuscar button {
  height: 3.6rem;
  width: 10.2rem;
  margin: 1rem;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  text-align: left;
  font-size: 16px;
  color: #B4B4B4;
  line-height: 18px;
}

.buscar .barraBuscar button img {
  padding: 0 1rem;
}

.buscar p {
  width: auto;
  font-size: 16px;
  line-height: 22px;
  padding-left: 1.3rem;
  margin: 0.3rem;
}

.buscar .autofill {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 8rem;
}

.buscar .autofill > button {
  display: block;
  height: 3.4rem;
  width: 90%;
  font-size: 16px;
  line-height: 22px;
  margin: 1.1rem 2rem;
  padding: 0.6rem 1.5rem;
  text-align: left;
}

.buscar .autofill.ultimas {
  display: block;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.buscar .autofill.ultimas > button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  margin: 1rem 1rem;
}

.divisiones {
  width: 90%;
  margin: auto;
}

.divisiones > p {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: black;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  padding: 0.7rem 1.6rem;
  margin: 6.4rem 0 2rem;
  background: white;
}

.sugerencias {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sugerencias li {
  max-width: 18.8vw;
}

.sugerencias li p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.sugerencias li p:before {
  content: "#";
}

.sugerencias li p > img {
  margin-left: auto;
}

.sugerencias li > img {
  width: 18vw;
  margin: 4px;
}

.sugerencias li .verMas {
  position: relative;
  width: 8.1rem;
  height: 3.4rem;
  bottom: calc(3.4rem + 15px);
  left: 7px;
  font-size: 14px;
  line-height: 18px;
  color: white;
}

#tendencias, #buscadas, #misGifos {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#tendencias > li, #buscadas > li, #misGifos > li {
  margin: auto;
}

#tendencias > li img, #buscadas > li img, #misGifos > li img {
  height: 32vh;
}

#tendencias p, #buscadas p, #misGifos p {
  position: relative;
  bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  z-index: -1;
}

#tendencias img:hover ~ p, #buscadas img:hover ~ p, #misGifos img:hover ~ p {
  z-index: 1;
}

.mostrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mostrar.autofill {
  display: block;
}

nav ul ul {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  height: 10.2rem;
  width: 17rem;
  position: absolute;
  background: white;
  top: 3.6rem;
}

nav ul ul li {
  width: 90%;
}

.crear {
  height: 38.6rem;
  width: 68.4rem;
  margin: 7.5rem auto;
}

.crear p, .crear li {
  color: black;
  width: auto;
  font-size: 14px;
  line-height: 20px;
}

.crear > p {
  padding-left: 1.3rem;
  margin: 0.3rem;
  color: white;
}

.crear > img {
  position: relative;
  top: 3rem;
  left: 2.5rem;
}

.crear > div.textCrear, .crear > #subido > div {
  margin: 0 7rem;
}

.crear > div.textCrear p, .crear > #subido > div p {
  margin: 1rem 0;
}

.crear > div.textCrear p:first-child, .crear > #subido > div p:first-child {
  margin-top: 0;
  font-weight: 700;
  font-size: 1.6rem;
}

.crear > div.textCrear ol, .crear > #subido > div ol {
  list-style-type: none;
  counter-reset: list;
}

.crear > div.textCrear ol li, .crear > #subido > div ol li {
  padding: 0.5rem 0;
}

.crear > div.textCrear ol li:before, .crear > #subido > div ol li:before {
  font-weight: 700;
  content: counter(list) ") ";
  counter-increment: list;
}

.crear > .botones {
  margin: 3rem auto 0 auto;
}

.captura {
  width: 86rem;
  height: 54rem;
  margin: auto;
}

.captura > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.3rem;
  margin: 0.3rem;
  line-height: 2.4rem;
}

.captura > p > img {
  margin-left: auto;
  margin-right: 1rem;
}

.captura video {
  display: block;
  width: 90%;
  height: 80%;
  margin: 1.1rem auto;
}

.captura > .botones {
  margin: 2rem auto 0 auto;
}

.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.botones .comenzar, .botones .partido {
  margin-left: 2rem;
}

.botones .repetir {
  margin-right: 2rem;
}

.botones button.partido {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.botones button.partido div {
  line-height: 250%;
}

.botones button.partido div:first-child {
  width: 3.6rem;
  border-right: 1px solid black;
}

.botones button.partido div:first-child > img {
  vertical-align: middle;
}

.botones button.partido div:last-child {
  width: 10.8rem;
  border-left: 1px solid black;
}

.botones button.partido.grabar {
  background: #FF6161;
  color: white;
}

#subido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#subido > img {
  margin: 2rem 4px;
}

#subido > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: auto auto;
}

#subido > div > button {
  width: 100%;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

#subido.hidden {
  display: none;
}
/*# sourceMappingURL=index.css.map */