* {
    margin: 0px;
    border: 0px;
    padding: 0px;
  }

html {
    font-size: 10px;
}

.subtitulo {
    margin: 1rem 0 3.6rem 7.2vw;
}

.button {
    margin: 1rem 0 0 7.2vw;
    width: 9.6rem;
    border-color: black;
    background-color: aqua;
    padding: 13px 96px 13px 96px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
	box-sizing: content-box;
    a {
        color: black;
        text-decoration: none;
    }
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    color: black;
    letter-spacing: 0;
    line-height: 22px;
}

.titulo {
    margin: 120px 0 0 7.2vw;
    // padding: 35px 0 0 20px;
}

.puntoFinal:after {
    content: ".";
    color: blue;
}


h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: black;
    letter-spacing: 0;
    line-height: 42px;
}

.logo {
    border: 24px;
    margin: 10px 0px auto 16px;
    order: -1;
}

.shape {
    border: 13px 12px;
    margin: 15px 20px auto 0px;
    order: 3;
}

.barra {
    display: inline-flex;
    width: 100%;
    height: 45px;
    background-color: white;
    justify-content: space-between;
}

nav {
    margin-right: 10rem;
    ul {
        display: flex;
        list-style-type: none;
        height: 100%;
        align-items: center;
    }
    li {
        display: block;
        font-size: 2rem;
        margin: 0 1rem;
    }
    a {
        color: black;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
    }
}

#toggleMenu, label {
    display: none;
}

.paralelogramo {
    // agregar border lo solucionaria? NOP
    display: absolute;
    margin: auto;
    // Cambiar tamaño de altura de paralelogramo responsive?
    width: 100vw;
    height: 84rem;
    clip-path: polygon(0 70px, 100% 0, 100% calc(100% - 70px), 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    h1 {
        color: white;
        padding: 10rem 0 0 20rem;
    }
}

.episodios {
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

#Nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100rem;
    img, .texto {
        position: relative;
        top: -15rem;
        z-index: 1;
    }
    .texto {
        width: 28vw;
        height: 35vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

    }
}

#Entrevistas {
    h1 {
        margin-top: -10rem;
    }
    .Imgs {
        display: flex;
        width: 100vw;
        flex-wrap: wrap;
        img {
            width: 33%;
        }
    }
}

.temas {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .tema {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 600;
        font-size: 24px;
        p {
            margin-top: 16px;
            text-align: center;
        }
    }
}

.novedades {
    display: absolute;
    clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0% 100%);
    height: 400px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    h1 {
        color: white;
        padding: 15rem 0 0 0;
        text-align: center;
    }
    .button {
        margin: 3.6rem auto;
        width: 30rem;
        padding: 16px 0;
        text-align: center;
    }
}

footer {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10rem;
    .redes {
        display: flex;
        width: 15%;
        justify-content: space-between;
        i {
            color: black;
            font-size: 20px;
        }
    }
}

.button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    a {
        color: white;
    }
}

@media (max-width: 425px) {
    .titulo {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    .barra {
        position: fixed;
        top: 0;
        z-index: 5;
    }
    
    .paralelogramo {
        height: 129rem;
        h1 {
            padding: 10rem 0 0 3rem;
        }
        .episodios {
            height: 100rem;
            iframe {
                width: 298px;
                margin: 0 auto;
            }
        }
    }
    #Nosotros {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 80rem;
        img, .texto {
            width: 32rem;
            margin: 0 auto;
            position: relative;
            top: -20rem;
            z-index: 1;
        }
        .texto {
            width: 100vw;
            top: -15rem;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
    }

    #Entrevistas {
        .Imgs {
            img {
                width: 100%;
            }
        }
    }

    .temas {
        height: 80rem;
        flex-direction: column;
    }

    footer {
        height: 12rem;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 0;
        .redes {
            width: 80%;
        }
    }

    #toggleMenu {
        display: none;
    }

    label {
        display: inline-block;
    }
    
    nav {
        ul {
            display: none;
            list-style-type: none;
            width: 100%;
            position: fixed;
            flex-direction: column;
            left: 0px;
            top: 45px;
            z-index: 1;
            background-color: rgba(0, 0, 236, 1);
            justify-content: flex-start;
        }
        li {
            text-align: left;
            display: block;
            font-size: 30px;
            height: 5rem;
            margin: 1rem 0 0 1rem;
        }
        a {
            color: white;
            font-family: 'IBM Plex Mono', monospace;
            font-weight: 400;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    
    // hyphen o plus? 
    
    #toggleMenu:checked + nav ul {
        display: inline-flex;
    }
}

